@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
 background-image: url("../img/daniel-leone-g30P1zcOzXo-unsplash.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 100%;


}

html{
  position: relative;

}
.media-body {
  font-family: 'Roboto', sans-serif;
}

.desc {
  color: #08090A;
  font-size: 20px;
}

