@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Tenali+Ramakrishna&display=swap');

.profileImage {
  border-radius: 100%;
  width: 200px;
  height: 200px;
 
}

.landingName {
  font-family: 'Satisfy', cursive;
  color: rgba(0,0,0,.8)

}
.landingName2 {
  font-family: 'Roboto', sans-serif;
 /* color: rgba(214, 188, 188, 0.8)*/
  color: rgba(217, 219, 221, 0.89)

}

.LandingPageList {
 
  list-style: none;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 28px;
}



.btn{
  border:none;
}

.text-block {

  background-color: rgba(0, 0,0, .8);
  position: relative;
  text-decoration: none;
  color: rgba(214, 188, 188, 0.8);
}

.text-block:hover{
 /* background-color: rgba(214, 188, 188, 0.8);*/
  background-color: rgba(236, 138, 9,.9);
  text-decoration: none;
  color: black;
}
 a:hover{
 /* background-color: rgba(214, 188, 188, 0.8);*/
  text-decoration-color: black;
}




.quote {
  font-size: 25px;
  font-family: 'Tenali Ramakrishna', sans-serif;
 
}


.text-project {
  color: rgba(237, 239, 241, 0.89);
}



.text-skills {
  color: rgba(0, 0, 0, 1)
}

h2 {
  font-family: 'Satisfy', cursive;
}

.random_btn:hover{
  /*color: rgba(214, 188, 188, 0.8)*/
  color: rgb(236, 138, 9,.9);
}

.resume-icon{
  color:rgba(0, 0,0, .8);
}
.resume-icon:hover{
  /*color: rgba(214, 188, 188, 0.8)*/
  color: rgb(236, 138, 9,.9);
}

.fa-js {
  color: #f0db4f;
  background-color: #323330;
}

.fa-bootstrap {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}
.fa-html5 {

  color: #e54d26;
}

.fa-java {
  color: red;
}

@media screen and (max-width: 500px) {
 
  .custom-resume-mobile{
    text-align: left;
  }
  
}

@media screen and (min-width: 1234px) {
  .text-block {
 
    height: 130px;
    width:350px;
    font-size: 20px;
  }
  
}

@media screen and (min-width: 1500px) {
  .text-block {
    height: 150px;
    width:400px;
    font-size: 20px;
  }
.icons{
  font-size:24px;
  
}
.quote {
  font-size: 35px;
}

.profileImage {
  border-radius: 200%;
  width: 265px;
  height: 265px;
 
}
}