/* Landing Page Icons */
.resume-icon {
  color: rgba(0, 0, 0, 0.8);
  font-size: 200px;
}

.resume-icon:hover {
  color: rgba(236, 138, 9, 0.9);
}

.fa-js {
  color: #f0db4f;
  background-color: #323330;
}

.fa-bootstrap {
  color: #563d7c;
}

.fa-sass {
  color: #cc6699
}

.fa-html5 {
  color: #e54d26;
}

.fa-java {
  color: red;
}

.fa-docker {
  color:  #0db7ed;
}

.fa-node {
  color: #6cc24a;  
}

.fa-react {
  color: #61DBFB;
}

/* Navbar Icons */

.fa-google {
  color: white;
}

.fa-github{
  color: white;
}

.fa-linkedin {
  color:white;
}

.fa-google:hover {
  color: rgb(236, 138, 9);
}

.fa-github:hover{
  color: rgb(236, 138, 9);
}

.fa-linkedin:hover {
  color: rgb(236, 138, 9);
}

.icon-sizes{
  font-size: 25px;
}