@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Tenali+Ramakrishna&display=swap");

.top-row {
  height: 470px;
}

.bottom-row {
  height: 350px;
}

.container-fluid {
  height: 100%;
}

.profileImage {
  border-radius: 100%;
  width: 200px;
  height: 200px;
 
}

.landingName {
  font-family: "Satisfy", cursive;
  color: rgba(0, 0, 0, 0.8);
}
.landingName2 {
  font-family: "Roboto", sans-serif;
  /* color: rgba(214, 188, 188, 0.8)*/
  color: rgba(217, 219, 221, 0.89);
}

.LandingPageList {
  list-style: none;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 28px;
}



.text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  text-decoration: none;
  color: rgba(214, 188, 188, 0.8);
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

#se-text-block {
  cursor: not-allowed;

}


.text-block:hover {
  /* background-color: rgba(214, 188, 188, 0.8);*/
  background-color: rgba(236, 138, 9, 0.9);
  text-decoration: none;
  color: black;
}
a:hover {
  /* background-color: rgba(214, 188, 188, 0.8);*/
  text-decoration-color: black;
}

.project-title {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}


.quote {
  font-size: 25px;
  font-family: "Tenali Ramakrishna", sans-serif;
}

.text-project {
  color: rgba(237, 239, 241, 0.89);
}

.text-skills {
  color: rgba(0, 0, 0, 1);
}

h2 {
  font-family: "Satisfy", cursive;
}

.random_btn:hover {
  /*color: rgba(214, 188, 188, 0.8)*/
  color: rgba(236, 138, 9, 0.9);
}

.fade-enter {
  right: 500px;
}

.fade-enter-active {
  right: 0px;
  transition: 0.5s ease-in all;
}


@media screen and (min-width: 499px) and (max-width: 1423px) {
  .text-block {
    height: 120px;
    width: 270px;
  }

  .top-row {
    height: 375px;
  }
  


  .col-top-right {
    min-width: 500px;
  }

  .profileImage {
    display: none;
  }

}
@media screen and (max-width: 500px) {

  .top-row {
    height: 50%;
  }
  
  .bottom-row {
    height: 50%;
  }
  .mask {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  .text-box-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }


}
@media screen and (min-width: 1423px) {
  .text-block {
    height: 130px;
    width: 320px;
  }
  .quote {
    font-size: 35px;
  }
}

